pkgbase = llama.cpp-cuda
	pkgdesc = Port of Facebook's LLaMA model in C/C++ (with NVIDIA CUDA optimizations)
	pkgver = b7376
	pkgrel = 1
	url = https://github.com/ggerganov/llama.cpp
	arch = x86_64
	arch = armv7h
	arch = aarch64
	arch = loongarch64
	license = MIT
	makedepends = cmake
	makedepends = cuda
	depends = cuda
	depends = curl
	depends = gcc-libs
	depends = glibc
	depends = nvidia-utils
	optdepends = python-numpy: needed for convert_hf_to_gguf.py
	optdepends = python-safetensors: needed for convert_hf_to_gguf.py
	optdepends = python-sentencepiece: needed for convert_hf_to_gguf.py
	optdepends = python-pytorch: needed for convert_hf_to_gguf.py
	optdepends = python-transformers: needed for convert_hf_to_gguf.py
	provides = llama.cpp
	conflicts = llama.cpp
	conflicts = libggml
	conflicts = ggml
	replaces = llama.cpp-cuda-f16
	backup = etc/conf.d/llama.cpp
	source = llama.cpp-cuda-b7376.tar.gz::https://github.com/ggml-org/llama.cpp/archive/refs/tags/b7376.tar.gz
	source = llama.cpp.conf
	source = llama.cpp.service
	sha256sums = 66b400cafd0742e1d1bf47617f9c8eacd7ef1dbab0c07ca0badbaec962c2429d
	sha256sums = 53fa70cfe40cb8a3ca432590e4f76561df0f129a31b121c9b4b34af0da7c4d87
	sha256sums = 38c65c7a50f21fe5423a2034386f47983db49fadee4860caed3a49eee128c4c0

pkgname = llama.cpp-cuda
